.App {
  display: flex;
  margin: 24px 0px 24px 36px;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

input {
  width: 270px;
  margin-right: 8px;
}

.form-wrapper {
  display: flex;
  margin: 24px;
}

